.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  border: 2px solid #212121;
  background-color: #fafafa;
  padding-top: 20px;
  box-shadow: 6px 8px 41px 0px rgba(168, 164, 170, 0.75);
}

.cardTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #292929;
}

.name {
  color: #292929;
  font-weight: 600;
  font-size: 48px;
}

.tag {
  color: #808080;
  font-weight: 400;
  font-size: 36px;
}

.location {
  color: #808080;
  font-weight: 500;
  font-size: 36px;
}

.cardBottom {
  background-color: #d4d4d4;
  border-top: 2px solid #808080;
  display: flex;
  justify-content: space-around;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #292929;
  font-size: 30px;
  width: 200px;
  padding: 20px 0;
}

.stat:not(:last-child) {
  border-right: 2px solid #808080;
}

.statTitle {
}

.statValue {
  font-weight: 600;
}
